.container {
    max-width: 42em;
}

.p-3 {
    padding: 1rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mx-auto {
    margin-top: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
}

.flex-column {
    flex-direction: column !important;
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.d-flex {
    display: flex !important;
}

.text-center {
    text-align: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.text-bg-dark {
    color: #fff !important;
    background-color: #000 !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    color: #000;
}